* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*befor-nav*/

.before-nav {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3c3c3c;
}

.left-contact {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    column-gap: 30px;
}

.left-contact a, .left-contact
p {
    text-decoration: none;
    color: white;
}

.left-contact a .fa-regular,
.left-contact p .fa-solid {
    color: orangered;
}

.left-contact a:hover {
    color: orangered;
}

.right-media {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    /* align-items: center; */
}

.right-media a {
    text-decoration: none;
    color: gray;
}

.right-media a:hover {
    color: orangered;
}

/*nav-section*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.left-nav{
    position: relative;
}

.left-nav a{
    text-decoration: none;
    color: #575757;
}

.left-nav a::before{
    content: "";
    position: absolute;
    left: -10px;
    width: 8px;
    height: 35px;
    background-color: orangered;
}

.right-nav {
    display: flex;
    column-gap: 20px;
}

.right-nav a{
    text-decoration: none;
    color: #575757;
}

.right-nav a:hover{
    color: orangered;
}

.right-nav #drop{
    border: none;
    outline: none;
}

#drop:hover{
     color: orangered;
}



/*first-section*/

.carousel-inner{

    
    height: 70vh;
   

}

.carousel-item img {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.section-div-paragrapgh{
    position: absolute;
    inset: 141px 64px 64px 340px;
    width: 50%;
    flex-direction: column;
    display: flex;

    align-items: center;
    gap: 30px;
    
}


.section-div-paragrapgh span{
    color: orangered;
}

.section-div-paragrapgh h1{
    color: #545454;
}

.section-div-paragrapgh p{
    color: #8d8c8d;
}

.button button{
    padding: 10px;
    padding-inline: 30px;
    border-radius: 20px;
    border: none;
    background-color: #e96b56;

}


/* session chaimae */
.section3{ display: flex;

}
.rigthdiv{
    get . 
    width: 100vw;
    height: 100vh;
}
.rigthdiv h5{
    color: grey;
}
.rightdiv{
    
    width: 100vw;
    height: 100vh;
}
.bb{
display: flex;
}
.bb i {color: red;

}
.section5{
   
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
}
.section5 h4 { 
   
    
  
    border-bottom: 6px solid red; /* Épaisseur et couleur personnalisées */
    display: inline-block; /* Nécessaire pour que la bordure s'adapte au texte */
    padding-bottom: 2px;   /*Espace entre texte et trait */
}

/* session likthrek */

.logo-slider{
   
    overflow: hidden;
    background: #3c3c3c;
    padding: 30px  0 ;

}
.slider-track{
    display: flex;
   align-items: center;
   gap: 60px;
    width: calc(200px*16);
    animation: scroll 30s linear infinite;
}
.slider-track img {
    /* width:50px ; */
    height: 45px; 
    /* margin: 0 30px ; */
    filter:  grayscale(100%);
    opacity: 0.7;
    transition: 0.3  ease;

}
.slider-track img:hover{
    opacity: 1;
    filter: grayscale(0%);
    transform: scale(1.05);

}
/* animation */
@keyframes scroll {
    from{transform: translatex(0);}
     to {transform: translateX(-50%);}
}


